
.RData
.Rhistory
.Rproj.user/88744D6B/pcs/files-pane.pper
.Rproj.user/88744D6B/pcs/source-pane.pper
.Rproj.user/88744D6B/pcs/workbench-pane.pper
.Rproj.user/88744D6B/pcs/windowlayoutstate.pper
.Rproj.user/88744D6B/rmd-outputs
.Rproj.user/88744D6B/pcs/debug-breakpoints.pper
.Rproj.user/88744D6B/sources/per/t/36C7AF35-contents
.Rproj.user/88744D6B/sources/per/t/36C7AF35-contents
.Rproj.user/88744D6B/sources/per/t/36C7AF35
.Rproj.user/88744D6B/sources/per/t/B64415B7-contents
.Rproj.user/88744D6B/sources/per/t/BD316580
.Rproj.user/88744D6B/sources/per/t/BD316580-contents
.Rproj.user/88744D6B/sources/per/t/BD316580-contents
.Rproj.user/88744D6B/sources/per/t/D8B84A7B
.Rproj.user/88744D6B/sources/per/t/D8B84A7B-contents
.Rproj.user/88744D6B/sources/per/t/E2D50785-contents
.Rproj.user/88744D6B/sources/per/t/E2D50785
.Rproj.user/88744D6B/sources/per/t/E2D50785
.Rproj.user/88744D6B/sources/prop/51139AC6
.Rproj.user/88744D6B/sources/prop/80C1F1A5
.Rproj.user/88744D6B/sources/prop/INDEX
.Rproj.user/88744D6B/viewer-cache/01F01B3B.Rdata
.Rproj.user/88744D6B/sources/prop/9F13C3D2
*.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/88744D6B/sources/per/t/B64415B7
.Rproj.user/88744D6B/saved_source_markers
.Rproj.user/shared/notebooks/paths
